################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InjectDependentionGetServiceByCtor/obj
/InjectDependentionGetServiceByCtor/.vs
/InjectDependentionGetServiceByCtor/bin/Debug
